.highlighted-section {
    padding: 7rem;
    background-color: #386150;
}

.heading {
    text-align: center;
    color: white;
}

.tos {
    padding: 3rem;
    background-color: #caf7e2;
}

.privacy-policy {
    padding: 3rem;
    background-color: #58b09c;
}

.links {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 10rem;
    margin-right: 10rem;
}